/* A Free Design by Bryant Smith (bryantsmith.com) */

body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background-color:#DFECC1;
	background-image:url(/images/header.jpg);
	background-repeat:repeat-x;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#container
{
  display: block; 
  height:auto;
  position: relative; 
  width: 100%;
}

#header
{
background-image:url(/images/header.jpg)	;
height:281px;
background-repeat:repeat-x;
clear:both;
}


#header h1
{
	padding-top:14px;
	margin-left:15px;
color:#16280B;
font-size:39px;
}

#header h1 .off
{
	
	color:#060;
}

#header h2
{
margin-left:15px;	
font-size:25px;
	
}

#main_container
{
background-image:url(/images/mainback.png);
background-repeat:repeat-x;
background-color:#DFECC1;
}

#menu 
{
	height:80px;
	padding-top:6px;
	padding-bottom:6px;
}

#menu ul li, #menu ul
{
		list-style:none;
		float:left;
		padding:0px;
}

#menu ul li
{
line-height:80px;
color:#FFF;
font-size:26px;
padding-left:30px;
}

#menu ul li a, #menu ul li a:visited
{
	color:#FFF;
	text-decoration:none;
}

#menu ul li a:hover
{
	text-decoration:underline;
}


#columns
{
padding-top:10px;	
padding-bottom:10px;	
}

.column_top
{
background-image:url(/images/top.png);
background-repeat:no-repeat;
height:19px;
clear:both;
}

.column_bottom
{
background-image:url(/images/bottom.png);
background-repeat:no-repeat;
height:19px;
clear:both;
}

.column_bottom h2
{
font-size:10px;
color:#060;
padding-left:15px;
}

.column_bottom h2 a, .column_bottom h2 a:visited
{
	color:#060;
	text-decoration:none;
}


.column_top
{
background-image:url(/images/top.png);
background-repeat:no-repeat;
height:19px;
clear:both;
}

.column_container
{
background-image:url(/images/tabs_back.png);
background-repeat:repeat-y;
overflow:auto;
width:100%;
	
}

#left_column
{
	float:left;
	padding-left:3px;
width:255px;
margin:0px;
	
}

#left_column h1
{
width:250px;
height:48px;
background-image:url(/images/menu_h1_back.png);
margin:0px;
color:#FFF;
text-align:center;
line-height:48px;
font-size:23px;
}

#left_column ul
{
padding:0px;	
}

#left_column ul li
{
	list-style:none;
	border-bottom:#C2DB89 2px solid;
	padding:0px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	
}
#right_column
{
padding-left:18px;
padding-right:8px;
width:610px;
float:left;	
}

#right_column h1
{
	color:#030;
	width:593px;
	height:47px;
	line-height:47px;
	background-image:url(/images/right_h1_back.png);
	background-repeat:no-repeat;
	padding-left:10px;
	margin-bottom:10px;
}

#right_column img
{
float:left;
padding:5px;
	
}

a, a:visited
{
color:#060;	
}

a:hover
{
text-decoration:none;	
}

p {text-align: left;}
