<center>
<h2>About Us</h2>
<p>
Aishwarya Grand is 3 star hotel and restuarant in kakinada with</br>
 all facilities and having resorts for functions and events all the </br>
decoration .......</br>
</p>
</center>
