<center>
<h2>Contact us</h2>
<p>Aishwarya Grand Hotel 3 star hotel</p>
<p>Main Road III street</p>
<p>Opposite Multiplex</p>
<p>kakinada -03</p>
<p>East Godavari </p>
<p>contact numbers :0884-2222222</p>
<p>www.asihwaryagrand.com</p>
</center>
